<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="/" class="item">Home</a>
        <a href="/users/new" class="item">New User</a>
      </div>
    </div>
  </body>
</html>
